{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}
{% form_theme form '@FormBuilder/form_builder/form/form_fields.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Forms list'|trans, url: path('form_builder_form_list') },
        { value: title}
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: title,
        iconName: 'article'
    } %}
{%- endblock -%}

{%- block content -%}

    <div class="container">
        <section class="user-form col-md-6 col-md-offset-3">
            <div>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.maxSubmissions) }}
                {{ form_row(form.fields) }}

                <div class="mt-3">
                    <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
            {#<div><h3>Form preview</h3></div>#}
        </section>
    </div>
{%- endblock -%}

{%- block javascripts -%}
    {{ parent() }}
    <script>
        (function($) {
          $('.js-form-fields-collection').each(function() {
            var $container = $(this);
            var $addButton = $('.js-form-builder__add-new-field', $container);
            var $selectFieldType = $('.js-form-builder__select-field-type', $container);

            var $collectionHolder = $('.js-form-fields-collection-entries', $container);

            var fieldsCount = $collectionHolder.children().length;

            var $deleteBtns = $('.js-form-fields__delete-entry');

            $addButton.click(function (e) {
              e.preventDefault();
              var prototype = $(':selected', $selectFieldType).data('prototype');
              var fieldForm = prototype.replace(/__name__/g, fieldsCount);
              $collectionHolder.append(fieldForm);
              fieldsCount++;
            });

              $deleteBtns.click(function (e) {
                  e.preventDefault();

                  $(this).closest('.card').remove();
              });
          });
        })(jQuery);
    </script>
{%- endblock -%}