{% extends '@EzPlatformAdminUi/form_fields.html.twig' %}

{% block novaformbuilder_fields_collection_row %}

    <div class="js-form-fields-collection">
        {{ form_row(form) }}
        <div class="btn-group input-group">
            <select class="form-control js-form-builder__select-field-type">
                {% for field_types_identifier, field_type_prototype in field_types_prototype %}
                    <option value="{{ field_types_identifier }}" data-entity-type="{{ field_types_identifier }}" data-prototype="{{ form_widget(field_type_prototype)|e('html_attr') }}">{{ ("fieldtype." ~ field_types_identifier)|trans([], 'novaformbuilder') }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary js-form-builder__add-new-field" type="button">{{ 'Add new field'|trans }}</button>
        </div>
    </div>
{% endblock %}


{% block novaformbuilder_fields_collection_widget %}
    {%- set attr = attr|merge({'class': 'js-form-fields-collection-entries' }) -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}

        {% for child in form %}
            {{- form_widget(child) -}}
        {% endfor %}
        {{- form_rest(form) -}}
    </div>
{% endblock %}

{% block novaformbuilder_field_edit_widget %}
    <div class="mb-3 card js-form-field-row">
        <div class="card-body">
            {% form_theme form '@FormBuilder/form_builder/form/form_fields_child.html.twig' %}
            {{ form_widget(form) }}
            <div class="mt-3 d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-outline-danger js-form-fields__delete-entry">{{ 'Delete field'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}