{% extends '@EzPlatformAdminUi/form_fields.html.twig' %}

{% block collection_row %}

    <div class="js-form-fields-choices-collection" data-items-count="0">
        {{ form_row(form) }}
        <button type="button" class="btn btn-sm btn-primary js-form-field-choices__add-choice">{{ 'Add choice'|trans }}</button>
    </div>
{% endblock %}


{% block novaformbuilder_choice_item_row %}
    <div class="js-form-fields-choice-item">
        {{ form_row(form) }}
        <button type="button" class="btn btn-sm btn-primary js-form-field-choices__delete-item">{{ 'Delete choice item'|trans }}</button>
    </div>
{% endblock %}
{##}
{#{% block collection_widget %}#}
    {#<div class="mt-3 d-flex justify-content-end">#}
        {#<button type="button" class="btn btn-sm btn-primary js-form-field-choices__add-entry">{{ 'Add choice'|trans }}</button>#}
    {#</div>#}
{#{% endblock %}#}