{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}
{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig' %}

{% block title %}{{ 'Forms'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Forms'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'Create new form'|trans,
        iconName: 'article'
    } %}
{%- endblock -%}

{%- block content -%}

    <div class="container">
        <section class="user-form col-md-6 col-md-offset-3">
            <div>
                {{ form_start(form) }}
                {{ form_widget(form._token) }}
                {{ form_row(form.name) }}
                {{ form_row(form.maxSubmissions) }}

                <ul style="list-style: none;" class="form-fields">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for field in form.fields %}
                        <li style="padding: 10px; box-shadow: 0 0 10px #000">
                            <div>Field</div>
                            <div>{{ form_row(field) }}</div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="btn-group input-group">
                    <select class="form-control js-form-builder__select-field-type">
                        {% for key, name in available_fields %}
                        <option value="{{ key }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary js-form-bilder__add-new-field" type="button">{{ 'Add new field' }}</button>
                </div>
                <br>
                <div>
                    <button class="btn btn-primary" type="submit">{{ 'Create'|trans }}</button>
                    {#<a class="btn btn-link pull-right"#}
                       {#href="{{ path('site_configuration_list') }}">{{ 'Back to the list'|trans }}</a>#}
                </div>
                {{ form_end(form, {'render_rest': false}) }}
            </div>
            {#<div><h3>Form preview</h3></div>#}
        </section>
    </div>
{%- endblock -%}

{%- block javascripts -%}
    {{ parent() }}
    <script>
        (function($) {
            $(function() {
                var $addButton = $('.js-form-bilder__add-new-field');
                var $selectFieldType = $('.js-form-builder__select-field-type');

                var $collectionHolder = $('.form-fields');

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find('li').length);

                $addButton.click(function (e) {
                    e.preventDefault();

                    var fieldType = $selectFieldType.val();
                    var $this = $(this);

                    $.getJSON('/form-builder/admin/get-field-form', {field_type: fieldType}, function(response) {

                        var _prototype = response.data.prototype;
                        var _name = response.data.field_name;

                        console.log('_pototype', _prototype);

                        addFieldForm($collectionHolder, _name, _prototype);
                    });
                });
            });

            /**
             *
             * @param $collectionHolder
             * @param $newLinkLi
             * @param prototype
             */
            function addFieldForm($collectionHolder, name, prototype) {

                // get the new index
                var index = $collectionHolder.data('index');
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li><div>'+name+'</div><div>'+newForm+'</div</li>');
                $collectionHolder.append($newFormLi);
            }
        })(jQuery);
    </script>
{%- endblock -%}