{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% block title %}{{ 'Forms Submissions List'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Forms Submissions List'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'Forms Submissions List'|trans,
        iconName: 'article'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container my-4">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ "Forms Submissions List"|trans }}</div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Form Name'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        <a href="{{ path('form_builder_submission_show', {id: submission.id}) }}">{{ submission.form.name }}</a>
                    </td>
                    <td>
                        <a href="{{ path('form_builder_form_edit', {id: submission.form.id}) }}">{{ 'Edit form'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagerfanta(submissions, 'ez') }}
    </section>
{%- endblock -%}