{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% block title %}{{ 'Form Submission'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Form Submission'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: formSubmission.form.name,
        iconName: 'article'
    } %}
{%- endblock -%}

{% block content %}
    <div class="container">
        <section class="user-form col-md-6 col-md-offset-3">
            <div class="card mt-3 p-3">
                <table class="table table-bordered">
                    {% for item in formSubmission.data %}
                        <tr>
                            <td><strong>{{ item.name }}</strong></td>
                            <td>{{ item.value }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <a class="btn btn-link"
                   href="{{ path('form_builder_submission_list') }}">{{ 'Back to the list'|trans }}</a>
            </div>
        </section>
    </div>
{% endblock %}