{% trans_default_domain "novaezformbuilder" %}
{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}
{% form_theme form '@NovaeZFormBuilder/nova_form_builder/form_fields.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'generic.forms_list'|trans, url: path('novaezformbuilder_dashboard_index') },
        { value: title|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: title|trans,
        iconName: 'article'
    } %}
{%- endblock -%}

{%- block content -%}

    <div class="container">
        <section class="user-form col-md-12 col-md-offset-6">
            <div class="pb-3 pt-3">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <div class="mb-3 card">
                    <div class="card-header">
                        <strong>{{ 'form.fieldset.notifications.title'|trans }}</strong>
                        <br>
                        <em>{{ 'form.fieldset.notifications.description'|trans }}</em>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.sendData) }}

                        {{ form_row(form.receiverEmail) }}
                        {{ form_row(form.subjectEmail) }}
                        {{ form_row(form.titleEmail) }}
                        {{ form_row(form.senderEmail) }}
                    </div>
                </div>
                <div class="mb-3 card">
                    <div class="card-header">
                        <strong>{{ 'form.fieldset.limitations.title'|trans }}</strong>
                        <br>
                        <em>{{ 'form.fieldset.limitations.description'|trans }}</em>
                    </div>
                    <div class="card-body">
                        {{ form_row(form.dateStartSubmission) }}
                        {{ form_row(form.dateEndSubmission) }}

                        {{ form_label(form.maxSubmissions) }}
                        {{ form_row(form.submissionsUnlimited) }}
                        {{ form_widget(form.maxSubmissions) }}
                    </div>
                </div>
                {{ form_row(form.fields) }}
                <div class="mt-3">
                    <button class="btn btn-success" type="submit">{{ 'generic.button.save'|trans }}</button>
                </div>
                {{ form_end(form) }}
                {% if form.vars.value.id != 0 %}
                    {% set confirmation = "generic.confirmation_message"|trans %}
                    <a href="{{ path('novaezformbuilder_dashboard_delete', {id: form.vars.value.id}) }}" class="btn btn-primary delete-form" onclick="return confirm( '{{ confirmation }}' )">{{ "generic.button.delete"|trans }}</a>
                {% endif %}
            </div>
        </section>
    </div>
    {% include '@ezdesign/novaezformbuilder/footer.html.twig' %}
{%- endblock -%}
