{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}
{% form_theme form '@NovaeZFormBuilder/nova_form_builder/form_fields.html.twig' %}

{% block title %}{{ title|trans({}, 'novaezformbuilder') }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Forms list'|trans, url: path('novaezformbuilder_dashboard_index') },
        { value: title|trans({}, 'novaezformbuilder')}
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: title|trans({}, 'novaezformbuilder'),
        iconName: 'article'
    } %}
{%- endblock -%}

{%- block content -%}

    <div class="container">
        <section class="user-form col-md-12 col-md-offset-6">
            <div class="pb-3 pt-3">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_label(form.maxSubmissions) }}
                {{ form_row(form.submissionsUnlimited) }}
                {{ form_widget(form.maxSubmissions) }}
                {{ form_row(form.fields) }}

                <div class="mt-3">
                    <button class="btn btn-success" type="submit">{{ 'Save' }}</button>
                </div>
                {{ form_end(form) }}
                {% if form.vars.value.id != 0 %}
                    <a href="{{ path('novaezformbuilder_dashboard_delete', {id: form.vars.value.id}) }}" class="btn btn-primary delete-form" onclick="return confirm('Are you sure?')">Delete</a>
                {% endif %}
            </div>
        </section>
    </div>
{%- endblock -%}
