{% trans_default_domain "novaezformbuilder" %}
{% form_theme renderForm '@NovaeZFormBuilder/nova_form_builder/form_fields.html.twig' %}

{{ form_start(renderForm) }}

{{ form_row(renderForm.name) }}
{{ form_label(renderForm.maxSubmissions) }}
{{ form_row(renderForm.submissionsUnlimited) }}
{{ form_widget(renderForm.maxSubmissions) }}
{{ form_row(form.dateStartSubmission) }}
{{ form_row(form.dateEndSubmission) }}

<br/>
{{ form_row(renderForm.sendData) }}
{{ form_row(renderForm.receiverEmail) }}
{{ form_row(renderForm.senderEmail) }}
{{ form_row(renderForm.subjectEmail) }}
{{ form_row(renderForm.titleEmail) }}
<br/>
{{ form_row(renderForm.fields) }}

<div class="mt-3">
    <button class="btn btn-success" type="submit">{{ 'generic.button.save'|trans }}</button>
</div>
{{ form_end(renderForm) }}