{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}
{% form_theme form '@NovaeZFormBuilder/nova_form_builder/form_fields.html.twig' %}

{% block title %}{{ title|trans({}, 'novaezformbuilder') }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Forms list'|trans, url: path('novaezformbuilder_dashboard_index') },
        { value: title|trans({}, 'novaezformbuilder')}
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: title|trans({}, 'novaezformbuilder'),
        iconName: 'article'
    } %}
{%- endblock -%}

{%- block content -%}

    <div class="container">
        <section class="user-form col-md-12 col-md-offset-6">
            <div>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.maxSubmissions) }}
                {{ form_row(form.fields) }}

                <div class="mt-3">
                    <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
    </div>
{%- endblock -%}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/novaezformbuilder/css/form-builder.css') }}">
{% endblock %}

{%- block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('bundles/novaezformbuilder/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/novaezformbuilder/js/form-builder.js') }}"></script>
    <script src="{{ asset('bundles/novaezformbuilder/js/fields-sorting.js') }}"></script>
{%- endblock -%}
