{% trans_default_domain "novaezformbuilder" %}
{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% block title %}{{ 'generic.forms_list'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'generic.forms_list'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'generic.forms_list'|trans,
        iconName: 'form'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container my-4">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ "generic.forms_list"|trans }}</div>
            <div class="pl-3 mr-auto">
                {#<a class="btn btn-light" href="{{ path('form_builder_submission_list') }}">{{ 'generic.forms_list'|trans }}</a>#}
            </div>
            <div>
                <a class="btn btn-primary" href="{{ path('novaezformbuilder_dashboard_create') }}">
                    <svg class="ez-icon ez-icon-create">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                    </svg>
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'generic.table.form_name'|trans }}</th>
                <th>{{ 'customform.admin.Number_of_submissions'|trans }}</th>
                <th class="text-right">{{ 'generic.table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for formItem in forms %}
                <tr>
                    <td>{{ formItem.name }}</td>
                    <td>
                        {{ formItem.submissions_count }}
                        {% if formItem.submissions_count > 0 and can_read_form_submissions(formItem.id) %}
                            <a class="btn btn-link" href="{{ path('novaezformbuilder_dashboard_submissions', {id: formItem.id}) }}">{{ 'theme.index.view'|trans }}</a>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a class="btn btn-link" href="{{ path('novaezformbuilder_dashboard_view', {id: formItem.id}) }}">{{ 'theme.index.preview'|trans }}</a>
                        <a href="{{ path('novaezformbuilder_dashboard_edit', {id: formItem.id}) }}"
                           class="btn btn-icon"
                           title='Edit'>
                            <svg class="ez-icon ez-icon-edit">
                                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                            </svg>
                        </a>

                        {% set confirmation = "generic.confirmation_message"|trans %}

                        <a href="{{ path('novaezformbuilder_dashboard_delete', {id: formItem.id}) }}"
                           class="btn btn-icon"
                           title='Delete' onclick="return confirm( '{{ confirmation }}' )">
                            <svg class="ez-icon ez-icon-trash">
                                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#trash"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagerfanta(forms, 'ez') }}
    </section>
    {% include '@ezdesign/novaezformbuilder/footer.html.twig' %}
{%- endblock -%}
