{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% block title %}{{ 'Forms List'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Forms List'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: 'Forms List'|trans,
        iconName: 'article'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container my-4">
        <div class="ez-table-header">
            <div class="ez-table-header__headline">{{ "Forms List"|trans }}</div>
            <div class="pl-3 mr-auto">
                {#<a class="btn btn-light" href="{{ path('form_builder_submission_list') }}">{{ 'Form submissions list'|trans }}</a>#}
            </div>
            <div>
                <a class="btn btn-primary" href="{{ path('novaezformbuilder_dashboard_create') }}">
                    <svg class="ez-icon ez-icon-create">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create"></use>
                    </svg>
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Form Name'|trans }}</th>
                <th>{{ 'Submissions'|trans }}</th>
                <th class="text-right">{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for formItem in forms %}
                <tr>
                    <td>{{ formItem.name }}</td>
                    <td>
                        {{ formItem.submissions|length }}
                        {% if formItem.submissions|length > 0 %}
                            <a class="btn btn-link" href="{{ path('novaezformbuilder_dashboard_submissions', {id: formItem.id}) }}">{{ 'View'|trans }}</a>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a class="btn btn-link" href="{{ path('novaezformbuilder_dashboard_view', {id: formItem.id}) }}">{{ 'Preview'|trans }}</a>
                        <a href="{{ path('novaezformbuilder_dashboard_edit', {id: formItem.id}) }}"
                           class="btn btn-icon"
                           title="{{ 'Edit'|trans }}">
                            <svg class="ez-icon ez-icon-edit">
                                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#edit"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagerfanta(forms, 'ez') }}
    </section>
{%- endblock -%}
