{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% block title %}{{ form.vars.value.name }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Forms list'|trans, url: path('novaezformbuilder_dashboard_index') },
        { value: form.vars.value.name }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: form.vars.value.name,
        iconName: 'article'
    } %}
{%- endblock -%}

{% form_theme form '@EzPlatformAdminUi/form_fields.html.twig' %}

{% block content %}
    <div class="container">
        <h2>{{ form.vars.value.name }}</h2>
        {% for error in form.vars.errors %}
            <p class="text-danger p-2">{{ error.message|trans({}, 'novaezformbuilder') }}</p>
        {% endfor %}
        <section class="user-form col-md-6 col-md-offset-3">
            {{ form_start(form) }}

            {% for field in form.fields.children %}
                {{ form_widget(field) }}
            {% endfor %}

            <div class="mt-3">
                <button class="btn btn-primary" type="submit">{{ 'Submit'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}