{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% block title %}{{ 'Form Submission'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'Form Submission'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: submission.form.name,
        iconName: 'article'
    } %}
{%- endblock -%}

{% block content %}
    <div class="container">
        <section class="user-form col-md-6 col-md-offset-3">
            <div class="card mt-3 p-3">
                <table class="table table-bordered">
                    {% for item in submission.data %}
                        <tr>
                            <td><strong>{{ item.name }}</strong></td>
                            <td>
                                {% if item.value is iterable %}
                                    {% if item.value.date is defined %}
                                        {{ item.value.date|date("F d, Y") }}
                                    {% else %}
                                        {{ item.value|join(', ') }}
                                    {% endif %}
                                {% else %}
                                    {{ item.value }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div>
                <a class="btn btn-link"
                   href="{{ path('novaezformbuilder_dashboard_submissions') }}">{{ 'Back to the list'|trans }}</a>
            </div>
        </section>
    </div>
{% endblock %}
