{% trans_default_domain "novaezformbuilder" %}
{% extends 'EzPlatformAdminUiBundle::layout.html.twig' %}

{% block title %}{{ 'generic.forms_submissions_list'|trans }}{% endblock %}

{%- block breadcrumbs -%}
    {% include '@EzPlatformAdminUi/parts/breadcrumbs.html.twig' with { items: [
        { value: 'generic.forms_list'|trans, url: path('novaezformbuilder_dashboard_index') },
        { value: form.name },
        { value: 'generic.forms_submissions_list'|trans }
    ]} %}
{%- endblock -%}

{%- block page_title -%}
    {% include '@EzPlatformAdminUi/parts/page_title.html.twig' with {
        title: form.name ~ ': ' ~ 'generic.forms_submissions_list'|trans,
        iconName: 'form'
    } %}
{%- endblock -%}

{%- block content -%}
    <section class="container my-4">
        <div class="ez-table-header">
            <div class="pl-3 mr-auto">
                <a class="btn btn-light" href="{{ path('novaezformbuilder_dashboard_edit', {id: form.id}) }}">{{ 'theme.submissions.edit_form'|trans }}</a>
                <a class="btn btn-light" href="{{ path('novaezformbuilder_dashboard_view', {id: form.id}) }}">{{ 'theme.submissions.preview_form'|trans }}</a>
            </div>
            <button class="btn btn-primary btn-success"
                    data-toggle="modal" data-target="#submissions_download_form">
                {{ 'theme.submissions.download_submissions'|trans }}
            </button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 35%">{{ 'generic.table.form_name'|trans }}</th>
                <th style="width: 35%">{{ 'generic.table.date'|trans }}</th>
                <th style="width: 30%">{{ 'generic.table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        <a href="{{ path('novaezformbuilder_dashboard_submissions', {id: submission.form.id}) }}">{{ submission.form.name }}</a>
                    </td>
                    <td>
                        <a href="{{ path('novaezformbuilder_dashboard_submission', {id: submission.id}) }}">{{ submission.createdAt|date("F d, Y H:i:s") }}</a>
                    </td>
                    <td class="form-actions">
                        <a href="{{ path('novaezformbuilder_dashboard_submission', {id: submission.id}) }}">{{ 'theme.submissions.view_submission'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagerfanta(submissions, 'ez', {'routeParams' : { 'id': form.id|default(null) } }) }}

    </section>
    {% include '@ezdesign/novaezformbuilder/download_submissions_modal.html.twig' %}
    {% include '@ezdesign/novaezformbuilder/footer.html.twig' %}

{%- endblock -%}
