{% trans_default_domain "novaezformbuilder" %}
{% extends '@EzPlatformAdminUi/form_fields.html.twig' %}

{% block collection_row %}
    <div class="js-form-fields-choices-collection" data-items-count="0">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="js-form-fields-choice-header">
            <div class="mt-3 row align-items-center">
                <div class="col-4 input-group-sm">
                    {{ 'formbuilder.form_fields_children.value'|trans }}
                </div>
                <div class="col-4 input-group-sm">
                    {{ 'formbuilder.form_fields_children.label'|trans }}
                </div>
                <div class="col-1 input-group-sm pl-0">
                    {{ 'formbuilder.form_fields_children.weight'|trans }}
                </div>
                <div class="col-3 input-group-sm text-right"></div>
            </div>
        </div>
        {{ form_widget(form) }}
        <button type="button" class="mt-3 btn btn-sm btn-success js-form-field-choices__add-choice">{{ "formbuilder.form_fields_children.add_choice"|trans }}</button>
    </div>
{% endblock %}

{% block novaformbuilder_choice_item_row %}
    <div class="js-form-fields-choice-item">
        <div class="mt-3 row align-items-center">
            <div class="col-4 input-group-sm">
                {{ form_widget(form.value) }}
            </div>
            <div class="col-4 input-group-sm">
                {{ form_widget(form.label) }}
            </div>
            <div class="col-1 input-group-sm pl-0">
                {{ form_widget(form.weight) }}
            </div>
            <div class="col-3 input-group-sm text-right">
                <button type="button" class="btn btn-sm btn-outline-danger js-form-field-choices__delete-item">{{ "formbuilder.form_fields_children.delete_choice_item"|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}
