{% trans_default_domain "novaezformbuilder" %}
{% extends '@EzPlatformAdminUi/form_fields.html.twig' %}

{% form_theme novaezformbuilder _self %}

{% block novaformbuilder_form_label -%}
    {{ parent() }}
    {% if required %}<strong class="required">* novaezformbuilder_label</strong>{% endif %}ici
{%- endblock novaformbuilder_form_label %}

{% block novaformbuilder_fields_collection_row %}
    <div class="js-form-fields-collection">
        <div id="form-fields-accordion">
            {{ form_row(form) }}
        </div>
        <div class="btn-group input-group">
            <select class="form-control js-form-builder__select-field-type">
                {% for field_types_identifier, field_type_prototype in field_types_prototype %}
                    <option value="{{ field_types_identifier }}" data-entity-type="{{ field_types_identifier }}" data-prototype="{{ form_widget(field_type_prototype)|e('html_attr') }}">{{ ("fieldtype." ~ field_types_identifier)|trans([], 'novaformbuilder') }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-success add-new-field js-form-builder__add-new-field" type="button">{{ 'customform.fields.add_new_fields'|trans }}</button>
        </div>
    </div>
{% endblock %}

{% block novaformbuilder_fields_collection_widget %}
    {%- set attr = attr|merge({'class': 'js-form-fields-collection-entries' }) -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form is rootform -%}
            {{ form_errors(form) }}
        {%- endif -%}

        {% for child in form %}
            {{- form_widget(child) -}}
        {% endfor %}
        {{- form_rest(form) -}}
    </div>
{% endblock %}

{% block novaformbuilder_field_edit_widget %}
    <div class="mb-3 card js-form-field-row">
        <div class="card-header d-flex flex-row" id="form-field-header-{{ form.vars.id }}">
            <i class="material-icons drag-field-icon">drag_indicator</i>
            <h5 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#form-field-body-{{ form.vars.id }}" aria-expanded="true" aria-controls="form-field-body-{{ form.vars.id }}">
                    {% if form.vars.data.name is empty %}
                        {{ 'formbuilder.form_fields.field'|trans }} #{{ form.vars.name }}
                    {% else %}
                        {{ form.vars.data.name }}
                    {% endif %}
                </button>
            </h5>
        </div>
        <div id="form-field-body-{{ form.vars.id }}" class="collapse show" aria-labelledby="form-field-header-{{ form.vars.id }}" data-parent="#form-fields-accordion">
            <div class="card-body">
                {% form_theme form '@NovaeZFormBuilder/nova_form_builder/form_fields_child.html.twig' %}
                {{ form_widget(form) }}
                <div class="mt-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-outline-danger js-form-fields__delete-entry">{{ 'generic.button.delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{%- block content_type_choicereceiver_widget_options -%}
    {%- for group_label, choice in options -%}
        {%- if choice is iterable -%}
            <div class="ez-instant-filter__group">
                <div class="ez-instant-filter__group-name">{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}</div>
                {%- set options = choice -%}
                {{- block('content_type_choicereceiver_widget_options') -}}
            </div>
        {%- else -%}
            <div class="ez-instant-filter__group-item">
                {{ form_widget(form[choice.value]) }}
                <svg class="ez-icon ez-icon--small">
                    <use xlink:href="{{ ez_content_type_icon(choice.value) }}"></use>
                </svg>
            </div>
        {%- endif -%}
    {%- endfor -%}
{%- endblock -%}

{%- block content_type_choice_widget_expanded -%}
    <div>
        {%- set options = choices -%}
        {{- block('content_type_choice_widget_options') -}}
    </div>
{%- endblock -%}

{%- block content_type_choicereceiver_widget_expanded -%}
    <div>
        {%- set options = choices -%}
        {{- block('content_type_choice_widget_options') -}}
    </div>
{%- endblock -%}

{%- block content_type_paragraph_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- block('textarea_widget') -}}
{%- endblock content_type_paragraph_widget %}

{% block paragraph_label %}{% endblock %}

{% block paragraph_widget %}
    <p>{{ form.vars.data }}</p>
{% endblock %}

{% block paragraph_errors %}{% endblock %}

{%- block content_type_section_header_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- block('text_widget') -}}
{%- endblock content_type_section_header_widget %}

{% block section_header_label %}{% endblock %}

{% block section_header_widget %}
    <h2>{{ form.vars.data }}</h2>
{% endblock %}

{% block section_header_errors %}{% endblock %}
