{% trans_default_domain "novaezformbuilder" %}
{% extends "EzPublishCoreBundle::content_fields.html.twig" %}

{% block ezcustomform_field %}
    {% spaceless %}
        {% set field_value %}
            {% set form = get_form(field.value.formId) %}
            {% if form is not null %}
                <p>{{ "generic.subtitle.form"|trans }}: {{ form.name }}</p>
                <p>{{ "customform.admin.Number_of_submissions"|trans }}: {{ form.submissions|length }}</p>
                <p>
                    <a href="{{ path('novaezformbuilder_dashboard_view', {id: field.value.formId}) }}" target="_blank">{{ "fields.admin.test_form"|trans }}</a>
                </p>
                {% if form.submissions|length > 0 %}
                    <p>
                        <a href="{{ path('novaezformbuilder_dashboard_submissions', {id: field.value.formId}) }}" target="_blank">{{ "fields.admin.list_of_submissions"|trans }}</a>
                    </p>
                {% endif %}
            {% endif %}
        {% endset %}
        {{ block( 'simple_block_field' ) }}
    {% endspaceless %}
{% endblock %}