{% trans_default_domain "novaezformbuilder" %}
{% extends pagelayout %}

{% form_theme renderForm '@NovaeZFormBuilder/nova_form_builder/form_fields.html.twig' %}

{% block content %}
    <div class="container">
        <div id="form-{{ form.vars.data.id }}">
            {% if success == true %}
                <h3>{{ "customform.show.thanks_for_submitting"|trans }}</h3>
                <input type="button" value="Back" onClick='window.history.go(-{{ stepBack }})'>
            {% elseif
                ((form.vars.value.dateStartSubmission.date is not defined or not(form.vars.value.dateStartSubmission.date)) and (form.vars.value.dateEndSubmission.date is not defined or not(form.vars.value.dateEndSubmission.date)))
                or (form.vars.value.dateStartSubmission.date is defined and "now"|date('Y-m-d H:i') > form.vars.value.dateStartSubmission.date|date('Y-m-d H:i') and (form.vars.value.dateEndSubmission.date is not defined or not(form.vars.value.dateEndSubmission.date)))
                or (form.vars.value.dateStartSubmission.date is defined and "now"|date('Y-m-d H:i') > form.vars.value.dateStartSubmission.date|date('Y-m-d H:i') and (form.vars.value.dateEndSubmission.date is defined and "now"|date('Y-m-d H:i') < form.vars.value.dateEndSubmission.date|date('Y-m-d H:i') ))
                or ((form.vars.value.dateStartSubmission.date is not defined or not(form.vars.value.dateStartSubmission.date)) and (form.vars.value.dateEndSubmission.date is defined and "now"|date('Y-m-d H:i') < form.vars.value.dateEndSubmission.date|date('Y-m-d H:i')))
            %}
                {% for error in form.vars.errors %}
                    <p class="text-danger p-2">{{ error.message|trans }}</p>
                {% endfor %}
                {% if canSubmit %}
                    {{ form_start(form, {'action': path('novaezformbuilder_front_show_form', {id: form.vars.value.id})}) }}
                    <fieldset>

                        {% for field in form.fields.children %}
                            {% if loop.first %}
                                <p class="required-head">{{ 'form.required.head'|trans }}</p>
                            {% endif %}
                            {{ form_widget(field, { 'attr': {'class': field.vars.data.cssClass} }) }}
                        {% endfor %}

                        <div class="mt-3">
                            <button class="btn btn-success" type="submit">{{ 'customform.show.submit'|trans }}</button>
                        </div>

                        <input type="hidden" name="stepBack" value="{{ stepBack + 1 }}">

                        {{ form_end(form) }}
                    </fieldset>
                {% else %}
                    <h5>{{ 'customform.show.form_waiting_max_replies'|trans }}</h5>
                {% endif %}
            {% else %}
                {{ 'customform.show.unavailable'|trans }}
            {% endif %}
        </div>
    </div>
{% endblock %}
