{% extends "EzPublishCoreBundle::content_fields.html.twig" %}

{% block ezcustomform_field %}
    {% spaceless %}
        {% set field_value %}
            {% set form = get_form(field.value.formId) %}
            {% if form is not null %}
                <p>Form: {{ form.name }}</p>
                <p>Number of submissions: {{ form.submissions|length }}</p>
                <p>
                    <a href="{{ path('novaezformbuilder_dashboard_view', {id: field.value.formId}) }}" target="_blank">Test the form</a>
                </p>
                {% if form.submissions|length > 0 %}
                    <p>
                        <a href="{{ path('novaezformbuilder_dashboard_submissions', {id: field.value.formId}) }}" target="_blank">List of Submissions</a>
                    </p>
                {% endif %}
            {% endif %}
        {% endset %}
        {{ block( 'simple_block_field' ) }}
    {% endspaceless %}
{% endblock %}