{% extends "EzPublishCoreBundle::content_fields.html.twig" %}

{% block ezcustomform_field %}
    {% spaceless %}
        {% set field_value %}
            {{ field.value.formId }}
        {% endset %}
        {{ block( 'simple_block_field' ) }}
        <button data-toggle="modal" type="button" data-target="#submit_custom_form" class="btn btn-square btn-info">Fill and submit</button>
        {% set form = get_form(value.formId) %}
        <p class="text-info" id="attached-form">{{ form.name }}</p>
        <div class="modal fade" id="submit_custom_form" tabindex="-1" role="dialog" data-endpoint="{{ path('novaezformbuilder_dashboard_edit_modal', {id: data.formId}) }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Form</h5>
                        {% if form is not null %}
                            <button type="button" class="btn btn-primary remove-form" data-endpoint="{{ path('novaezformbuilder_dashboard_remove_form', {id: data.formId}) }}">Remove form</button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}